@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  article p.town-article img { width: 29.333%; }
  
/*** margin format ***/
    
    header, nav, main, footer { 
    max-width: 75%;
    margin: auto;
    }
    
    main {
        max-width: 75%;
    }
    
    
    /*** header ***/

    header h1 {
        font-size: 70px;
    }
    
    
    /*** main ***/
    
    main h2 {
        font-size: 3vw;
    }
    
    
    /*** navigation ***/
    
    nav ul li {
        font-size: 13.7px;
    }
    
    nav ul li a {
        padding: .8rem 1rem;
    }
    
    
    /*** weather summary ***/
    
    .highlow, .current, .conditions {
        padding: 0 15% 3% 15%;
        font-size: 1.3vw;
    }
   
}