@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  article p.town-article img { width: 29.333%; }
  
/*added*/
    
    header, nav, main, footer { 
    max-width: 75%;
    margin: auto;
    }
    
    main {
        max-width: 75%;
    }
    
    .highlow, .current, .conditions {
        padding: 0 15% 3% 15%;
        font-size: 1.3vw;
    }

    header h1 {
        font-size: 70px;
        padding: 5% 0 0;
    }
    
    main figure img {
    max-height: 21.5em;
    }

}