@media only screen and (min-width: 37.5em) {
  /***- Tablet View Stylesheet -***/
  
    /***** margin format *****/
    
    header, nav, main, aside, footer { 
    max-width: 90%;
    margin: auto;
    }
     
    /**-- margin format end --**/
    /***** header *****/
    
    header h1 {
        font-size: 7vw;
    }
    
    /**-- header end --**/
    /***** navigation *****/
    
    nav button { 
        display: none; 
    }  /* hides hamburger button */
    
    nav ul {
        width: 100%;
        margin: auto;
        flex-direction: row;
    }
    
    #primaryNav {
        display: flex;
    }
    
    nav ul li { 
        flex: 1 1 0;
    }
    
    nav ul li a {
        border: none;
        border-right: .5px solid rgba(0,0,0,0.3);
        border-left: .5px solid rgba(0,0,0,0.3);
        padding: .8rem 0;
    }
    
    /**-- Navigation end --**/
    /***** footer *****/
    
    footer aside {
        margin: 0 1em;
    }
    
    /**-- Footer end --**/
    /***** Homepage *****/
    
    .welcome {
        width: 75%;
    }
    
    /** index gallery (2) **/

    .container-images {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1.5em;
    }
    
    .twoimages {
        padding: 0;
        margin: 0 0 8% 0;
    }

    /*- index gallery end -*/
    /** index event gallery (3) **/
    
    .eventImg {
        grid-template-columns: repeat(3, 1fr);
        width: 95%;
    }
    
    .index-txt {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    /*- index event gallery end -*/
    /***-- Homepage end --***/  
    /***** Tours *****/
   
    .tour, .contDiv {
        width: 85%;
        margin: auto;
        margin-bottom: 4%;
    }
    
    .tour img, .contDiv img {
        width: 80%;
        max-height: 16em;
    }
    
    .tour ul, .contDiv ul {
        margin: 0 10%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .tour ul li, .contDiv ul li {
        padding: 4px;
    }
    
    /**- Tours end -**/
    /***** Events Page *****/
    
    .cycle-info {
        width: 75%;
        margin: auto;
    }
    
    /***-- Events Page end --***/
    /***** Sales Page *****/
    /** Slide Show **/
    
    div.slide img {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        height: 30vw;
    }
    
    div.slide h4 {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 17px;
    }
    
    /*- Slide Show end -*/
    
    .great-deals {
        margin-top: 40%;
        margin-bottom: 3.5%;
    }
    
    .bike-images {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .sales-para {
        margin-top: 1%;
        margin-bottom: 2.5%;
        width: 82%;
    }
      
    /***-- Sales end --***/
    /***** Services Page *****/
    
    .serviceTable {
        width: 90%;
    }
    
    .tbody-json {
        font-size: 2vw;
    }
    
    /***-- Services Page end --***/
    /***** Contact Page *****/
    
    iframe { 
        width:60%;
    }
    
    /***-- Contact Page end --***/
    /***** Forms for Events-pg & Contact-pg *****/
    
    form {
        width: 90%;
        margin: auto;
    }
    
    .mainfieldset {
        margin: 0 10%;
    }

    /***-- Forms end --***/
     /***** Thanks Page *****/
    
    .thx {
        width: 90%;
    }
    
    /***-- Thanks Page end --***/
    /***** Video Page *****/

    video {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
    }

    /****--- video Page end ---****/
   
    
}
